# To add a code owner, give a file pattern followed by the usernames or emails of the owner.
* khilawar_verma@intuit.com  @khilawar4
* Sanooj_Mananghat@intuit.com @sanoojm
* sandip_nahak@intuit.com @sandipnahak
